@import url('https://fonts.googleapis.com/css?family=Dosis|Montserrat|Odibee+Sans|Open+Sans|Raleway|Roboto&display=swap');
@import "media.css";
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  background-color: white;
}
.box {

}
.nestedGrid {
  display: grid;
  width: 80%;
  height: 90%;
  margin: 20px auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}
.sdBox {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 92%;
}
.card {
  display: flex;
  justify-content: flex-start;
  border: solid 0px;
  /*border-radius: 1.5rem;*/
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  color: white;
  /*background-color: #adbae1;*/
}
.menu, .footer {
  display: flex;
  flex-direction: row;
  background-color: #8A2BE2;/*#455388;
  /*border-radius: 1rem;*/
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}
.ftCopy {
  color: white;
  text-align: center;
  margin-right: 1rem;
}
.ftName {
  color: white;
  text-align: left;
  flex-grow: 1;
  margin-left: 1rem;
}
.navItem {
  width: 80px;
}
.logo {
  flex: 1;
  color: white;
  font-size: 20px;
  margin-left: 1rem;
}
.navItem a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}
/*#btnDiv {
  margin-top:auto;
}*/
.sdMain {
  flex-grow: 1; /* this makes the list div with post links to grow till button, thus pussing button at bootom of flex container*/
  align-items: flex-start;
}
.sdMain ul {
  list-style: none;
  padding-left: 0;
}
button {
  height: 30px;
  width: 100px;
  border-radius: 0.3rem;
  background-color: #4553BF;/*#7175AD;*/
  color: white;
  font-size: 15px;
}
p {
  text-align: left;
  margin-left: 5px;
  font-size: 13px;
}
.card h4 {
  text-align: left;
  margin-left: 5px;
}
#dvSc {
  background-image: url(../Images/Marie_Curie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
#dvTech {
  background-image: url(../Images/grace_hopper.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
#dvEngg {
  background-image: url(../Images/Lillian_Gilbreth.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
#dvMath {
  background-image: url(../Images/Ada.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.dvScInfo, .dvTechInfo, .dvEnggInfo, .dvMathInfo {
  height: 60%;
  width: 35%;
  background-color: none;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
