.container {
    display: grid;
    width: 100vw;
    /*margin: 20px auto;*/
    grid-template-columns: repeat(6, 1fr) 10vw;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "hd hd hd hd hd hd hd hd"
    "main main main main sd sd sd sd"
    "ft ft ft ft ft ft ft ft";
}

@media (min-width: 600px) and (max-width: 1100px) {
  .container {
    display: grid;
    width: 100vw;
    /*margin: 20px auto;*/
    grid-template-columns: repeat(6, 1fr) 10vw;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "hd hd hd hd hd hd hd hd"
    "main main main main main sd sd sd"
    "ft ft ft ft ft ft ft ft";
  }
}

@media (min-width: 1100px) {
  .container {
    display: grid;
    width: 100vw;
    /*margin: 20px auto;*/
    grid-template-columns: repeat(6, 1fr) 10vw;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "hd hd hd hd hd hd hd hd"
    "main main main main main main sd sd"
    "ft ft ft ft ft ft ft ft";
  }
}
.header {
  grid-area: hd;
}
.main {
  grid-area: main;
}
.sidebar {
  grid-area: sd;
}
.footer {
  grid-area: ft;
}
